<div class="container">
  <div class="row">
    <div class="col-12">
      <section>
        <h1><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>アクセス</h1>
        <p>当研究室の所在は次の通りです．</p>
        <div id="ggmap" class="hidden-xs"></div>
        <div class="hidden-sm hidden-md hidden-lg panel panel-primary">
          <div class="panel-heading">山岡・北口研究室 (S3-301)</div>
          <div class="panel-body">
            <p>152-8552</p>
            <p>東京都目黒区大岡山 2-12-1-S3-68</p>
            <p>南3号館3階 301室</p>
            <p>03-5734-3763 (山岡研)</p>
            <p>03-5734-3354 (北口研)</p>
            <a href="https://www.google.com/maps?daddr=35.603178,139.683943&dirflg=r">ここへの経路を検索</a>
          </div>
        </div>
        {{ .Content }}
      </section>
    </div>
  </div>
</div>
