<div class="container">
  <div class="row">
    <div class="col-12">
      <section>
        <h1><i class="fas fa-broadcast-tower pr-3"></i>ニュース</h1>
        {{ .Content }}
        {{ $dot := . }}
        {{ $lastevent := (index .Data.Pages 0) }}
        {{ $year := seq ($lastevent.Date.Format "2006") -1 2017 }}
        {{ range $index, $dot := $dot.Data.Pages.GroupByDate "2006" }}
        <h2 class="mb-3 border-0 p-0 align-middle"><i class="fas fa-calendar-alt pr-2"></i>{{ index $year $index }}年<span class="badge badge-pill badge-secondary event-badge ml-2 align-middle">{{ len $dot.Pages }}件のイベント</span></h2>
        <ul class="p-0">
          {{ range $dot.Pages }}
          {{ $color := .Params.color }}
          {{ if eq $color "" }}
          <div id="{{ .UniqueID }}" class="mb-2 event-item card">
          {{ else }}
          <div id="{{ .UniqueID }}" class="mb-2 event-item event-item-{{ $color }} card">
          {{ end }}
            <div class="card-head event-item-heading mb-0 p-2 pl-3">
              <p class="event-item-title mb-0">{{ .Title }}</p>
              <div class="event-item-meta">
                <p class="event-item-meta-date d-inline-block mb-0 pr-2">
                  <i class="far fa-clock"></i>
                  {{ .Date.Format "2006年1月2日" }}{{ with .Params.till }} から {{ dateFormat "2006年1月2日" . }} まで{{ end }}
                </p>
                {{ with .Params.achievement }}
                  <p class="event-item-meta-tag d-inline-block mb-0 pr-2">
                    <i class="fas fa-certificate"></i>
                    {{ . }}
                  </p>
                {{ end }}
                {{ with .Params.location }}
                  <p class="event-item-meta-tag d-inline-block mb-0 pr-2">
                    <i class="fas fa-map-marker-alt"></i>
                    {{ . }}
                  </p>
                {{ end }}
              </div>
            </div>
            <div class="card-body event-item-body mb-0 p-2 pl-3 bg-white">
              {{ .Content }}
            </div>
          </div>
          {{ end }}
        </ul>
        {{ end }}
      </section>
    </div>
  </div>
</div>
