<div class="container">
  <div class="row">
    <div class="col-12">
      <section>
        <h1><span class="glyphicon glyphicon-king" aria-hidden="true"></span>業績</h1>
        {{ .Content }}
        <small class="info"><span class="glyphicon glyphicon-info-sign"></span>情報が更新されない場合はブラウザの強制再読み込み (スーパーリロード) を試してください．</small>
        <div id="erroralert">
          <div class="alert alert-warning">
            <h4><span class="glyphicon glyphicon-remove"></span>業績リストのビルドができません</h4>
            <p>お使いのブラウザでJavascriptの実行が許可されているか確認してください．あるいはGitHubリポジトリ <a href="https://github.com/yamaoka-kitaguchi-lab/publications">yamaoka-kitaguchi-lab/publications</a> を直接参照してください．</p>
          </div>
        </div>
        <div id="publications"></div>
      </section>
    </div>
  </div>
</div>
