<div class="jumbotron jumbotron-main px-0 bg-transparent">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8">
        <h1 class="text-light display-3 d-none d-md-block"> 山岡・北口研究室</h1>
        <h1 class="text-light display-4 d-none d-sm-block d-md-none"> 山岡・北口研究室</h1>
        <h1 class="text-light display-5 d-block d-sm-none"> 山岡・北口研究室</h1>
        <p class="lead text-light">東京工業大学 工学院情報通信系</p>
        <p>
          <a class="btn btn-lg btn-outline-primary welcome-btn" role="button" href="/welcome/index.html">
            <i class="fas fa-graduation-cap pr-2"></i>
            入学希望の方へ
          </a>
        </p>
      </div>
      <div class="d-none d-lg-block col-lg-4 px-0">
        <ul class="list-group" id="news-headline-list">
          {{ range first 20 (where .Data.Pages "Section" "news") }}
            <li class="list-group-item news-headline btn btn-primary" role="button">
              <div class="text-truncate">
                <a href="/news/index.html#{{ .UniqueID }}" class="normal-link">
                  <i class="news-headline-date">{{ .Date.Format "06.01.02" }}</i>
                  {{ .Title }}
                </a>
              </div>
            </li>
          {{ end }}
        </ul>
        <div id="show-all-news" class="text-right p-0 m-0">
          <a href="news/index.html"><i class="far fa-clock pr-2"></i>すべてのニュースを見る</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <section>
        {{ .Content }}
      </section>
    </div>
  </div>
</div>
