<!DOCTYPE html>
<html lang="ja-jp">

<head>
  {{ partial "base/head.html" . }}
  <meta property="og:url" content="https://www.net.ict.e.titech.ac.jp/access">
  <meta property="og:type" content="article">
  <meta property="og:title" content="アクセス">
  <meta property="og:description" content="大岡山キャンパス 南3号館3階301室（03-5734-3763）">
  <meta property="og:site_name" content="東京工業大学 山岡研究室">
  <meta property="og:image" content="https://www.net.ict.e.titech.ac.jp/image/OGP.png">
  <meta name="twitter:card" content="summary_large_image">
  {{ partial "base/style.html" . }}
  <link rel="stylesheet" href="/css/access.css">
  <title>アクセス | 東京工業大学 山岡研究室</title>
</head>

<body>
  {{ partial "base/header/default.html" . }}
  {{ partial "access.html" . }}
  {{ partial "base/footer.html" . }}
  {{ partial "base/script.html" . }}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq-OQiKy6fAjN0veUsRgqH5yPDyAnUYCU"></script>
  <script src="/js/ggmap.js"></script>
</body>

</html>