<!DOCTYPE html>
<html lang="ja-jp">

<head>
  {{ partial "base/head.html" . }}
  <meta property="og:url" content="https://www.net.ict.e.titech.ac.jp/news">
  <meta property="og:type" content="article">
  <meta property="og:title" content="ニュース">
  <meta property="og:description" content="2018年度以降の当研究室のイベント（学生の研究発表など）をまとめてあります。">
  <meta property="og:site_name" content="東京工業大学 山岡研究室">
  <meta property="og:image" content="https://www.net.ict.e.titech.ac.jp/image/OGP.png">
  <meta name="twitter:card" content="summary_large_image">
  {{ partial "base/style.html" . }}
  <link rel="stylesheet" href="/css/news.css">
  <title>ニュース | 東京工業大学 山岡研究室</title>
</head>

<body>
  {{ partial "base/header/default.html" . }}
  {{ partial "news.html" . }}
  {{ partial "base/footer.html" . }}
  {{ partial "base/script.html" . }}
</body>

</html>