<!DOCTYPE html>
<html lang="ja-jp">

<head>
  {{ partial "base/head.html" . }}
  <meta property="og:url" content="https://www.net.ict.e.titech.ac.jp/photos">
  <meta property="og:type" content="article">
  <meta property="og:title" content="写真">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="東京工業大学 山岡研究室">
  <meta property="og:image" content="https://www.net.ict.e.titech.ac.jp/image/OGP.png">
  <meta name="twitter:card" content="summary_large_image">
  {{ partial "base/style.html" . }}
  <title>写真 | 東京工業大学 山岡研究室</title>
</head>

<body>
  {{ partial "base/header/default.html" . }}
  {{ partial "photos.html" . }}
  {{ partial "base/footer.html" . }}
  {{ partial "base/script.html" . }}
</body>

</html>