<!DOCTYPE html>
<html lang="ja-jp">
  <head>
    {{ partial "base/head.html" . }}
    <meta property="og:url" content="https://www.net.ict.e.titech.ac.jp/publications">
    <meta property="og:type" content="article">
    <meta property="og:title" content="業績">
    <meta property="og:description" content="当研究室の学生による研究成果（学位論文・学会誌論文・雑誌論文）をまとめてあります。">
    <meta property="og:site_name" content="東京工業大学 山岡・北口研究室">
    <meta property="og:image" content="https://www.net.ict.e.titech.ac.jp/image/OGP.jpg">
    <meta name="twitter:card" content="summary_large_image">
    {{ partial "base/style.html" . }}
    <link rel="stylesheet" href="/css/publications.css">
    <title>業績 | 東京工業大学 山岡・北口研究室</title>
  </head>
  <body>
    {{ partial "base/header/default.html" . }}
    {{ partial "publications.html" . }}
    {{ partial "base/footer.html" . }}
    {{ partial "base/script.html" . }}
    <script src="/js/publications.js"></script>
  </body>
</html>
