<!DOCTYPE html>
<html lang="ja-jp">

<head>
  {{ partial "base/head.html" . }}
  <meta property="og:url" content="https://www.net.ict.e.titech.ac.jp/welcome">
  <meta property="og:type" content="article">
  <meta property="og:title" content="入学希望の方へ">
  <meta property="og:description" content="当研究室では、社会人大学院生の受け入れを歓迎しています。">
  <meta property="og:site_name" content="東京工業大学 山岡研究室">
  <meta property="og:image" content="https://www.net.ict.e.titech.ac.jp/image/OGP.jpg">
  <meta name="twitter:card" content="summary_large_image">
  {{ partial "base/style.html" . }}
  <link rel="stylesheet" href="/css/welcome.css">
  <title>入学希望の方へ | 東京工業大学 山岡研究室</title>
</head>

<body>
  {{ partial "base/header/default.html" . }}
  {{ partial "welcome.html" . }}
  {{ partial "base/footer.html" . }}
  {{ partial "base/script.html" . }}
</body>

</html>